---
---

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

$font: "Lato", sans-serif;

$primary-color: #51002f;
$button-color: #31d485;
$text-color: #FFFFFF;
$bulle-background: #000000;

body
{
	background: #51002f;
	background: linear-gradient(to top, #51002f, #8f3662);
	box-sizing: border-box;
    color: $text-color;
	font-family: $font;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

*,*:before,*:after {
	box-sizing:inherit;
}

#wrap
{
	display: flex;
	margin: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
}

header
{
	position: relative;
}

header, #page-content
{
	text-align: center;
}

a
{
    outline: 0;
    text-decoration: none;

    img
    {
        border: none;
    }

}

input
{
    outline: 0;
}

h1, h2, h3, h4, h5, h6
{
	color: $text-color;
	font-family: $font;
	font-weight: 300;
}

p
{
    margin: 0;
}

h1
{
	font-size: 1.6em;
}

h2
{
	font-size: 1.3em;
}

h3
{
	font-size: 1.2em;
}

.highlight
{
    padding: 44px;

    h1
    {
        margin: 0 0 44px 0;
    }

    h2
    {
        margin: 0;
    }

}

$confirmation-width: 400px;

#confirmation-message
{
    background: $text-color;
    border-radius: 4px;
    box-shadow: 0 0 6px $primary-color;
    display: none;
    color: $primary-color;
    font-weight: 300;
    left: 50%;
    margin-left: -($confirmation-width / 2);
    opacity: 0;
    padding: 48px 32px;
    position: fixed;
    top: 38%;
    width: $confirmation-width;
    text-align: center;
    transition: opacity 0.4s ease-in-out;
    z-index: 0;

    .title
    {
        display: block;
        font-size: 1.6em;
        margin-bottom: 12px;
    }

    .message
    {
        font-size: 1.3em;
    }

}

.display-confirmation
{

    #confirmation-message
    {
        display: block;
        opacity: 1;
        z-index: 3;
    }

}

#contact-form
{

    input[type="email"], input[type="text"]
    {
        background: transparent;
        border: none;
        border-bottom: 1px solid $text-color;
        color: $text-color;
        display: block;
        font-size: 1em;
        margin: 24px auto 32px;
        max-width: 368px;
        padding: 6px;
        text-align: center;
        width: 100%;

        ::placeholder
        {
            color: $text-color;
            opacity: 1;
        }

    }

}

.button, button
{
	color: $text-color;
    cursor: pointer;
	display: inline-block;
	background: $button-color;
    border: none;
	border-radius: 100px;
    font-size: 1em;
    font-weight: 700;
	padding: 8px 16px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
    transition: background ease-in-out 0.3s, color ease-in-out 0.4s;

    &:hover, &:focus
    {
        background: $text-color;
        color: $button-color;
    }

    &:disabled, &[disabled], &.disabled
    {
        cursor: default;
        opacity: 0.7;
        transition: none;
        background: $button-color;
        color: $text-color;
    }

}

footer
{
    bottom: 0;
    display: flex;
    left: 0;
    padding: 16px 32px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;

	div
	{
		flex: 1;
        font-size: 0.75em;
	}

	#copyright
	{
		text-align: left;
		opacity: .5
        a
        {
            display: block;
            margin-top: 4px;
        }

	}

	#author
	{
		text-align: center;

        a
        {
            display: block;
            margin-top: 4px;
        }
				strong {
					font-weight: 100;
				}
	}

	#footer-note
	{
		text-align: right;
		opacity: .5
	}

}

#vince-content
{
    align-items: center;
    display: flex;
    flex: 1;
    margin: 56px 0;
		padding: 0;
}

$bulle-content-max-width: 900px;

#bulle-presentation
{
	background: $bulle-background;
    display: block;
    width: 100%;

		header {
			img {
				max-width: 100%;
			}
			p {
				margin-top: -80px;
			  font-family: serif;
			  font-style: italic;
			  color: #787778;
			  font-weight: lighter;
			}
		}

    #features
    {
        margin: auto;
        max-width: $bulle-content-max-width;
        padding: 56px 0 90px;

        .item
        {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 32px 0;

            .infos
            {
                display: block;
                margin: 0 0 0 50px;
                position: relative;

                h2
                {
                    text-transform: uppercase;
                    font-size: 1.5em;
                    font-weight: 300;
                    margin: 0;
                    padding: 10px 0;
                    position: relative;
                }

                .quote
                {
                    margin: 12px 0 0 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;

                    quote
                    {
                        color: #9b9b9b;
                        font-size: 0.9em;
                        font-style: italic;
                        margin: 0 12px;
                    }

                }

            }

            &:first-child 
            {
                
                > img
                {
                    margin: 0 50px 0 42px;
                }

                .infos
                {
                    margin: -20px 0 0 0;

                    p
                    {
                        max-width: 368px;
                    }

                }

            }

            &:nth-child(2) {
                flex-direction: row-reverse;
                padding: 56px 0 16px;

                > img
                {
                    margin: 0px 164px 0 75px;
                }

                .infos
                {
                    text-align: right;
                    margin: -22px 0 0 0;

                    .quote
                    {
                        flex-direction: row-reverse;
                    }

                    p
                    {
                        max-width: 460px;
                    }

                }

            }

            &:nth-child(3) {
                padding: 24px 0;

                .infos
                {

                    p
                    {
                        max-width: 524px;
                    }

                }

            }

        }

    }

}

#vince-bulle
{
    padding: 50px 24px;
    text-align: center;

    h2, h3
    {
        font-size: 1.5em;
    }

    h2
    {
        margin: 0;
    }

    h3
    {
        margin: 0 0 32px 0;
    }

    > img
    {
        margin: 32px 0;
    }

    .button
    {
        font-size: 0.85em;
        padding: 6px 16px;
    }

}

@media screen and (max-width: 1024px)
{

    #bulle-presentation
    {
			header {
				p {
					margin-top: -64px;
				}
			}

        #features
        {
            margin: 0 24px;
            padding-bottom: 32px;

            .item
            {

                > img
                {
                    height: 100px;
                    width: 100px;
                }

                .infos
                {
                    margin: 0 0 0 24px;
                }

                &:nth-child(2) {

                    > img
                    {
                        margin: 0px 80px 0 50px;
                    }

                    .infos
                    {
                        margin: 0 32px 0 0;
                    }

                }

                &:nth-child(3) {

                    .infos
                    {
                        margin: 0 0 0 42px;
                    }

                }

            }

        }

    }

}

@media screen and (max-width: 800px)
{

    #bulle-presentation
    {
			
        #features
        {

            .item
            {

                &:nth-child(2) {

                    > img
                    {
                        margin: 0px 32px 0 0px;
                    }

                }

            }

        }

    }

}

@media screen and (max-width: 640px)
{

    @mixin small-feature-style() {

        padding: 32px 0 0;
        display: block;
        text-align: center;

        > img
        {
            display: block;
            height: inherit;
            margin: 0 auto;
            width: inherit;
        }

        .infos
        {
            margin: 32px;
            text-align: center;

            p
            {
                max-width: 100%;
            }

            .quote
            {
                justify-content: center;
            }

        }

    }

    #bulle-presentation
    {
			
        #features
        {
            
            .item
            {
                @include small-feature-style();

                &:first-child
                {
                    @include small-feature-style();
                }

                &:nth-child(2)
                {
                    @include small-feature-style();
                }

                &:nth-child(3)
                {
                    @include small-feature-style();
                }

            }

        }

    }

}